{{> navbar}}

<form method="POST" action="/create" class="wholeForm">
  <div class="walletCreate">
    <div class="firstColumn">
      <div>
        <h2>Create a New Wallet</h2>
        <p>* mandatory fields</p>
      </div>

      <div class="walletInput">
        <label>Name of the Wallet*</label>
        <input
          type="text"
          name="walletName"
          placeholder="Please enter a name for your wallet"
          class="walletInputField"
        />
      </div>

      <div class="walletInput">
        <label>Starting Date*</label>
        <input
          type="date"
          name="startingDate"
          placeholder="Add the starting date of your wallet"
          class="walletInputField"
        />
      </div>

      <div class="walletInput">
        <label>Monthly Income</label>
        <input
          type="Number"
          name="monthlyIncome"
          placeholder="Add your monthly Income"
          step="0.01"
          class="walletInputField"
        />
      </div>

      <div class="walletInput">
        <label>Monthly Spending</label>
        <input
          type="Number"
          name="monthlySpending"
          placeholder="Add your monthly Spending"
          step="0.01"
          class="walletInputField"
        />
      </div>

      <div class="currencyRow">
        <label>
          <input type="radio" name="currency" value="Euro" />
          <img src="/images/euro.png" width="25" />
        </label>
        <label>
          <input type="radio" name="currency" value="Dollar" />
          <img src="/images/dollar.png" width="25" />
        </label>
        <label>
          <input type="radio" name="currency" value="Pound" />
          <img src="/images/pfund-sterling.png" width="25" />
        </label>
        <label>
          <input type="radio" name="currency" value="Yen" />
          <img src="/images/yen.png" width="25" />
        </label>
        <p>*</p>
      </div>

      <div>
        <label for="shared">Shared Wallet*</label>
        <div>
          <input type="radio" name="shared" value="true" id="true" />
          <label for="true">Yes</label>
        </div>
        <div>
          <input type="radio" name="shared" value="false" id="false" />
          <label for="true">No</label>
        </div>
      </div>
    </div>

    <div class="secondColumn">
      <h2>Choose your Saving Plan*</h2>
      <div class="savingPlanDiv">
        <label>
          <input type="radio" name="savingPlan" value="Gold" />
          <img src="/images/giraffe.png" width="100" />
        </label>
        <p class="savingPlanP">GOLD<br />Giraffes only sleep between ten minutes
          and two hours per night! With this plan you will save 40% of your
          income.</p>
      </div>
      <div class="savingPlanDiv">
        <label>
          <input type="radio" name="savingPlan" value="Silver" />
          <img src="/images/rabbit.png" width="100" />
        </label>
        <p class="savingPlanP">SILVER<br />Bunnies are cute and have a lot of
          kids, they need the money to send them to college. With this plan you
          will save 20% of your income.
        </p>
      </div>
      <div class="savingPlanDiv">
        <label>
          <input type="radio" name="savingPlan" value="Bronze" />
          <img src="/images/sloth.png" width="100" />
        </label>
        <p class="savingPlanP">BRONZE<br />Sloths are famously slow but
          steady. With this plan you will save 10% of your income.
        </p>
      </div>
    </div>
  </div>

  <button class="walletForm">Create a new Wallet</button>

</form>

{{#if error}}
  <p class="error">Message: {{error}}</p>
{{/if}}