{{> navbar}}

<form method="POST" action="/6196c4e47ba8ac01ec919bad">
  <label>New Movement</label>
  <input
    type="text"
    name="kind"
    placeholder="Please enter the kind of new Movement"
  />

  <label>Amount</label>
  <input type="Number" name="amount" placeholder="Add the amount" />

  <label>Category</label>
  <input type="text" name="category" placeholder="Add category" />

  <label>Date</label>
  <input type="date" name="date" placeholder="Add the date" />

  <button>Create new movement</button>
</form>

<form action="/{{response._id}}/delete" method="POST">
  <button>Delete</button>
</form>