{{> navbar}}

<div id="walletHeader">
  <h1>{{wallet.walletName}}</h1>
  <h1>{{date}}</h1>
</div>

<div id="walletTopics">
  <div class="chart"><h3>Chart of the month</h3></div>
  <div id="calendar"><h3>Calendar</h3></div>
</div>

<div id="details">
  <form method="POST" action="/6196c4e47ba8ac01ec919bad" id="newMovement">
    <label>New Movement</label>
    <input
      type="text"
      name="kind"
      placeholder="Please enter the kind of new Movement"
    />

    <label>Amount</label>
    <input type="Number" name="amount" placeholder="Add the amount" />

    <label>Category</label>
    <input type="text" name="category" placeholder="Add category" />

    <label>Date</label>
    <input type="date" name="date" placeholder="Add the date" />

    <button>Create new movement</button>
  </form>

  {{#each response}}
  
  {{/each}}

</div>
<form action="/{{wallet._id}}/edit" method="POST">
  <button>Edit</button>
</form>

<form action="/{{wallet._id}}/delete" method="POST">
  <button class="delete">Delete</button>
</form>