<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="/images/investment.png"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      Animal Budget</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="errorPage">
<div>
<pre> </pre>
<p><h1>500 INTERNAL ERROR</h1></p>

<p><h2>Oops something went wrong!<br>I think we need to talk to our developers..</h2></p>
</pre>
 

</div>
