<body class="missing">
{{> navbar}}

<div class="notFound">
 <h1>404 Page not found</h1>
<h2>Oh no! It seems that the snaked confused and trapped you! </h2>   
</div>
<img class="pig" src="pigcage.png" alt="Pig in a cage">
<img class="snake" src="snake.png" alt="Angry snake">

</body>