<body class="missing">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="/images/investment.png"
          alt="Logo"
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        Animal Budget</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <div class="notFound">
    <h1>404 Page not found</h1>
    <h2>Oh no! It seems that the snake confused and trapped you! </h2>
  </div>
  <img
    class="pig"
    src="/images/pigcage.png"
    alt="Pig in a cage"
    width="250"
    height="250"
  />
  <img class="snake" src="/images/snake.png" alt="Angry snake" />

</body>