body {
  background-color: #f5f5f5;
  transition: 0.5s;
  font-family: "Catamaran", sans-serif;
}

button {
  background-color: #00613e;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.delete {
  background-color: #99122d;
}

nav,
footer {
  background-color: #99c0b2;
  border: 1px solid #00613e;
}

.nav-link {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
  font-size: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer > p {
  margin: 0;
}

/* Radio Button Input */
[name="currency"],
[name="savingPlan"],
[name="animalUrl"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[name="currency"] + img,
[name="savingPlan"] + img,
[name="animalUrl"] + img {
  cursor: pointer;
}

[name="currency"]:checked + img,
[name="savingPlan"]:checked + img,
[name="animalUrl"]:checked + img {
  outline: 2px solid darkgray;
}

/* Wallet Create and Edit Form */
.wholeForm {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.walletCreate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.firstColumn,
.secondColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.currencyRow,
.savingPlanDiv {
  display: flex;
  flex-direction: row;
}

.currencyRow {
  justify-content: space-between;
  width: 10rem;
}

.savingPlanDiv {
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem 0;
  border: 1px solid darkgray;
  border-radius: 1rem;
}

.walletInputField,
.homeInputField,
.movementInputField {
  border-radius: 0.5rem;
  padding-left: 0.5rem;
}

.walletInput,
.movementInput {
  display: flex;
  flex-direction: column;
}

.walletForm {
  align-self: center;
}

.savingPlanP {
  width: 12rem;
  margin: 0.5rem 0;
}

/* Wallet Movement delete */
.minus {
  padding: 0;
  margin: 0;
}

/**/
.changeInfo {
  text-align: center;
  list-style-type: none;
}

/*Settings*/
.settingsPic {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  margin-left: 16rem;
}

.settingsIntro {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
  margin-left: 50rem;
  margin-top: -3rem;
}

.changeInfo {
  position: relative;
  margin: 0;
  right: -25rem;
  top: -21rem;
}

.settingsDelete {
  justify-content: space-around;
  display: flex;
  margin-bottom: 40rem;
  margin-left: 73.4rem;
  margin-top: -32em;
}

.animalFacts {
  margin-bottom: 2rem;
  margin-left: 10em;
  margin-top: 1rem;
  font-style: italic;
}

.animalPic {
  display: flex;
  margin-left: 11.5rem;
  top: -300rem;
  flex-wrap: wrap;
  width: 22rem;
}

/*Profile*/
.containerProfile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

.profilePic {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  margin-left: 14rem;
}

.profileHi {
  text-align: center;
  position: relative;
  margin-top: -12rem;
}

.profileList {
  display: grid;
  place-content: center;
}

ul {
  list-style-type: none;
}

.card {
  width: 15rem;
  height: 25rem;
  margin: 2rem, 1rem;
  border-radius: 1rem;
}

/* 404 and 500*/
.errorPage {
  font-family: "Catamaran", sans-serif;
  text-align: left;
  display: flex;
  background-image: url(../images/tv.jpg);
  background-position: bottom 0.3rem right -13rem;
  background-size: 100% 100%;
  width: 72%;
  height: 85%;
  margin-top: 36px;
  margin-left: 36px;
}

.notFound {
  text-align: left;
  margin-top: 26rem;
  margin-left: 12rem;
}

.pig {
  position: relative;
  left: 72rem;
  bottom: 12rem;
}

.snake {
  position: relative;
  bottom: 28rem;
  left: 5rem;
}

/* Display error on page */
.error {
  background: #99122d;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

/* Homepage */
#home {
  background-image: url(../images/animal-budget-bg.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#homeText {
  text-align: center;
  width: auto;
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 0.5rem;
}

#container {
  width: 50rem;
  height: 25rem;
  display: flex;
  border-radius: 0.5rem;
}

#login,
#signup {
  width: 25rem;
  height: 25rem;
  background-color: rgba(153, 192, 178, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  border-radius: 0.5rem 0 0 0.5rem;
}

#needToSignup,
#alreadyAccount {
  background-color: rgba(205, 205, 205, 0.8);
  border-radius: 0 0.5rem 0.5rem 0;
  width: 25rem;
  height: 25rem;
}

#login,
#needToSignup,
#alreadyAccount {
  padding: 1rem;
}

#signup {
  padding: 0.3rem 1rem;
}

#needToSignup,
#alreadyAccount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.homeInput {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.homeBtn {
  text-align: center;
}

.signupInput {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 2rem;
}

.animalInput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#animalP {
  margin: 0;
}

.passwordP {
  font-size: 9px;
  margin: 0;
}

/* wallet view */
#walletPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

#walletHeader,
#walletTopics,
#walletDetails,
#balance,
#walletBtns {
  display: flex;
  flex-direction: row;
}

#walletHeader h1,
.chart,
#newMovement,
#walletTableDiv,
#balance h4 {
  width: 45%;
  margin: 1rem 2rem;
}

#newMovement {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

#walletDetails,
#walletTopics {
  height: 35%;
}

#walletTable {
  width: 100%;
}

#walletTable,
#walletTable tr,
#walletTable td,
#walletTable th {
  border-collapse: collapse;
  border: 1px solid darkgray;
}

#walletTable tr {
  height: 1.5rem;
}

#walletTableDiv {
  overflow: scroll;
}

.createNewMovementBtn {
  align-self: center;
}

.chart {
  display: flex;
  flex-direction: column;
  height: 80%;
}

#walletBtns button {
  margin-right: 2rem;
}

#walletBtns {
  width: 80%;
  height: 5%;
  margin: 1rem 2rem;
}

.walletDeleting {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
}

.walletDeletingH {
  margin: 1rem;
}
