body {
  background-color: #f5f5f5;
}

button {
  background-color: #00613e;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.delete {
  background-color: #99122d;
}

nav,
footer {
  background-color: #99c0b2;
  border: 1px solid #00613e;
}

a,
.nav-link {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
  font-size: 10px;
}

footer > p {
  margin: 0;
}
